@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.main-block-width {
  width: 1440px;
}

.header {
  background-image: url('./assets/b-header.png');
  height: 780px;
}

.inner-header-block {
  width: 1200px;
  padding: 19px 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.logo .icon {
  background-image: url('./assets/wild-life-icon.svg');
  width: 70px;
  height: 60px;
}

.logo .name {
  margin: 0;
  color: #F7F7F7;
  padding: 0 15px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 60px;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.nav-bar li {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar li a {
  color: #F7F7F7;
  text-decoration: none;
}

.nav-bar .blog {
  padding-right: 30px;
}

.nav-bar .contacts {
  padding: 0 30px;
}

.nav-bar .search a {
  width: 32px;
  height: 32px;
  background-image: url('./assets/search-icon.png');
  background-size: contain;
  margin: 0 30px;
}

.nav-bar .sign-in {
  width: 120px;
  height: 50px;
  border: 2px solid #CD6326;
  box-sizing: border-box;
  border-radius: 5px;
  margin-left: 30px;
  cursor: pointer;
}

.nav-bar .sign-in:hover {
  background: #CD6326;
}

.inner-survival-block {
  width: 1200px;
  margin: 120px auto;
}

.inner-survival-block .survival {
  color: #CD6326;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
}

.inner-survival-block .description {
  padding: 50px 0;
  width: 274px;
  height: 108px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #F7F7F7;
}

.inner-survival-block .donate {
  width: 160px;
  height: 60px;
  background: #CD6326;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.inner-survival-block .donate:hover {
  background-color: #e39128;
}

.main {
  height: 1368px;
  background-color: #CCCCCC;
}

.main-title {
  margin: 0;
  padding: 120px 120px 0;
  width: 1200px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  color: #333333;
}

.main-description {
  width: 1200px;
  margin: 0;
  padding: 20px 120px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #666666;
}

.wrapper-slider {
  width: 1200px;
  padding: 100px 120px 0;
  display: flex;
}

.left-slider,
.right-slider {
  width: 30px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.left-slider {
  background-image: url('./assets/left-slider.png');
  margin-right: 30px;
}

.right-slider {
  background-image: url('./assets/right-slider.png');
  margin-left: 30px;
}

.arraw {
  display: flex;
  align-self: center;
}

.content-slider {
  display: flex;
}

.content-slider .slider-item {
  width: 300px;
  height: 360px;
  padding: 0 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.Deer {
  background-image: url('./assets/Deer.jpg');
}

.Squirrel {
  background-image: url('./assets/Squirrel.jpg');
}

.Bird {
  background-image: url('./assets/Bird.jpg');
}

.slider-item .description-item {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #F7F7F7;
  position: relative;
  top: 247px;
}

.description-item .title {
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 10px;
}

.description-item .subtitle {
  font-size: 17px;
  line-height: 27px;
}

.main-form {
  width: 1200px;
  position: relative;
  top: 240px;
  padding: 0 120px;
  text-align: center;
}

.main-form label {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 40px;
  color: #333333;
  padding-bottom: 60px;
}

.main-form .form-fields {
  padding-top: 60px;
}

.form-fields #subscribe {
  background-color: #CCCCCC;
  width: 540px;
  height: 60px;
  border: 1px solid #666666;
  border-radius: 5px 0px 0px 5px;
  box-sizing: border-box;
  padding-left: 15px;
  margin-right: -5px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
}

.form-fields #submit {
  width: 120px;
  height: 60px;
  background: #CD6326;
  border: 1px solid #CD6326;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 26px;
  color: #F7F7F7;
}

.form-fields #submit:hover {
  background-color: #e39128;
}

.footer {
  height: 360px;
  background-image: url('./assets/b-footer.jpg');
}
